.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: white;
	padding-top:1.0rem;
	z-index: 4;
}

.top-padding {
	padding-top: 8rem !important;
}

header .sb-toggle-left {
	width: 58px;
	float: left;
	padding: 14px;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.navicon-line {
	width: 24px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: #000;
}

.sb-slidebar {
	color: white;
}

.sb-slidebar h2 {
	padding: 1rem 0.5rem;
	margin-bottom: 0;
}

.sb-slidebar ul {
	font-size: 85%;
}

.sb-slidebar ul li{
	line-height: 1.5rem;
}

.sb-slidebar a {
	color:white;
}

.changelog-date {
	border-bottom: 1px solid #e2e1e4;
	padding-bottom: 8px;
}

h2[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
}