<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="author" content="Esteban Herrera">
    <link href="{{ site.url }}{{ page.url | remove: "index.html" }}" rel="canonical">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fluidbox/1.3.1/jquery.fluidbox.css">
    <link rel="stylesheet" href="{{ site.url }}/css/monokai_sublime.css">
    <link rel="stylesheet" href="{{ site.url }}/css/slidebars.min.css">
    <link rel="stylesheet" href="{{ site.url }}/css/custom.slidebars.css">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fluidbox/1.3.1/jquery.fluidbox.min.js"></script>
    <script src="{{ site.url }}/js/slidebars.min.js"></script>
  </head>

  <body>
	<header class="fixed-top sb-slide">
		<div class="sb-toggle-left navbar-left">
			<div class="navicon-line"></div>
			<div class="navicon-line"></div>
			<div class="navicon-line"></div>
		</div>
		<div class="container">
			<a href="/" class="logo"><img src="{{ site.url }}/images/logo.png" alt="Esteban Herrera" class="site-logo"></a>

			<nav role="navigiation">
			  <ul class="site-nav">
				<li><a href="/about/">About</a>
				<li><a href="/blog/">Blog</a>
				<li><a href="/books/">Books</a>
				<li><a href="/projects/">Projects</a>
			  </ul>
			</nav>
		</div>
	</header>
		
	<div id="sb-site" class="top-padding">

		<div class="site-content">
		  <div class="container">
			{{ content }}
		  </div>
		</div>

		<footer class="site-footer">
		  <div class="container">
			&copy; Esteban Herrera {{ site.time | date: "%-Y" }}
		  </div>
		</footer>
	</div>
	
	<div class="sb-slidebar sb-left">
		<h2 style="color:#ff380a">Content</h2>
		<h4><a href="{{ site.url }}/ocpj8-notes/">Introduction</h4>
		<h4><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html">Java Class Design</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html#implement-encapsulation">Implement encapsulation</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html#implement-inheritance">Implement inheritance including visibility modifiers and composition</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html#implement-polymorphism">Implement polymorphism</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html#override-hashcode">Override hashCode, equals, and toString methods from Object class</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html#create-and-use-singleton">Create and use singleton classes and immutable classes</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/01-java-class-design.html#develop-code-that-uses-static">Develop code that uses static keyword on initialize blocks, variables, methods, and classes</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html">Advanced Java Class Design</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html#develop-code-that-uses-abstract">Develop code that uses abstract classes and methods</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html#develop-code-that-uses-final-keyword">Develop code that uses final keyword</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html#create-inner-classes">Create inner classes including static inner class, local class, nested class, and anonymous inner class</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html#use-enumerated-types">Use enumerated types including methods, and constructors in an enum type</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html#develop-code-that-declares">Develop code that declares, implements and/or extends interfaces and use the atOverride annotation</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/02-advanced-java-class-design.html#create-and-use-lambda-expressions">Create and use Lambda expressions</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html">Generics and Collections</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#create-and-use-a-generic-class">Create and use a generic class</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#create-and-use-arraylist">Create and use ArrayList, TreeSet, TreeMap, and ArrayDeque objects</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#use-java-util-comparator">Use java.util.Comparator and java.lang.Comparable interfaces</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#collections-streams-and-filters">Collections Streams and Filters</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#iterate-using-foreach-methods">Iterate using forEach methods of Streams and List</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#describe-stream-interface">Describe Stream interface and Stream pipeline</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#filter-a-collection">Filter a collection by using lambda expressions</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/03-generics-and-collections.html#use-method-references-with-streams">Use method references with Streams</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/04-lambda-built-in-functional-interfaces.html">Lambda Built-in Functional Interfaces</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/04-lambda-built-in-functional-interfaces.html#use-the-built-in-interfaces">Use  the built-in interfaces included in the java.util.function package such as Predicate, Consumer, Function, and Supplier</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/04-lambda-built-in-functional-interfaces.html#develop-code-that-uses-primitive">Develop code that uses primitive versions of functional interfaces</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/04-lambda-built-in-functional-interfaces.html#develop-code-that-uses-binary">Develop code that uses binary versions of functional interfaces</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/04-lambda-built-in-functional-interfaces.html#develop-code-that-uses-the-unaryoperator">Develop code that uses the UnaryOperator interface</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html">Java Stream API</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#develop-code-to-extract-data">Develop code to extract data from an object using peek() and map() methods including primitive versions of the map() method</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#search-for-data">Search for data by using search methods of the Stream classes including findFirst, findAny, anyMatch, allMatch, noneMatch</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#develop-code-that-uses-the-optional-class">Develop code that uses the Optional class</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#develop-code-that-uses-stream-data">Develop code that uses Stream data methods and calculation methods</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#sort-a-collection-using-stream-api">Sort a collection using Stream API</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#save-results-to-a-collection">Save results to a collection using the collect method and group/partition data using the Collectors class</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/05-java-stream-api.html#use-of-merge-and-flatmap">Use of merge() and flatMap() methods of the Stream API</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/06-exceptions-and-assertions.html">Exceptions and Assertions</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/06-exceptions-and-assertions.html#use-try-catch-and-throw-statements">Use try-catch and throw statements</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/06-exceptions-and-assertions.html#use-catch-multi-catch-and-finally">Use catch, multi-catch, and finally clauses</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/06-exceptions-and-assertions.html#use-autoclose-resources">Use Autoclose resources with a try-with-resources statement</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/06-exceptions-and-assertions.html#create-custom-exceptions">Create custom exceptions and Auto-closeable resources</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/06-exceptions-and-assertions.html#test-invariants">Test invariants by using assertions</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/07-use-java-se-8-datetime-api.html">Use Java SE 8 DateTime API</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/07-use-java-se-8-datetime-api.html#create-and-manage-date-based">Create and manage date-based and time-based events including a combination of date and time into a single object using LocalDate, LocalTime, LocalDateTime, Instant, Period, and Duration</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/07-use-java-se-8-datetime-api.html#work-with-dates-and-times-across">Work with dates and times across timezones and manage changes resulting from daylight savings including Format date and times values</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/07-use-java-se-8-datetime-api.html#define-and-create-and-manage-date-based-and-time">Define and create and manage date-based and time-based events using Instant, Period, Duration, and TemporalUnit</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/08-java-io-fundamentals.html">Java IO Fundamentals</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/08-java-io-fundamentals.html#read-and-write-data-from-the-console">Read and write data from the console</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/08-java-io-fundamentals.html#use-bufferedreader-bufferedwriter">Use BufferedReader, BufferedWriter, File, FileReader, FileWriter, FileInputStream, FileOutputStream, ObjectOutputStream, ObjectInputStream, and PrintWriter in the java.iopackage</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/09-java-file-io-(NIO.2).html">Java File I/O (NIO.2)</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/09-java-file-io-(NIO.2).html#use-path-interface">Use Path interface to operate on file and directory paths</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/09-java-file-io-(NIO.2).html#use-files-class">Use Files class to check, read, delete, copy, move, manage metadata of a file or directory</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/09-java-file-io-(NIO.2).html#use-stream-api-with-nio-2">Use Stream API with NIO.2</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html">Java Concurrency</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html#create-worker-threads">Create worker threads using Runnable, Callable and use an ExecutorService to concurrently execute tasks</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html#identify-potential-threading">Identify potential threading problems among deadlock, starvation, livelock, and race conditions</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html#identify-potential-threading">Use synchronized keyword and java.util.concurrent.atomic package to control the order of thread execution</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html#use-java-util-concurrent-collections">Use java.util.concurrent collections and classes including CyclicBarrier and CopyOnWriteArrayList</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html#use-parallel-fork-join-framework">Use parallel Fork/Join Framework</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/10-java-concurrency.html#use-parallel-streams">Use parallel Streams including reduction, decomposition, merging processes, pipelines and performance</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/11-building-database-applications-with-JDBC.html">Building Database Applications with JDBC</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/11-building-database-applications-with-JDBC.html#describe-the-interfaces-that-make-up">Describe the interfaces that make up the core of the JDBC API including the Driver, Connection, Statement, and ResultSet interfaces and their relationship to provider implementations</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/11-building-database-applications-with-JDBC.html#identify-the-components">Identify the components required to connect to a database using the DriverManager class including the JDBC URL</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/11-building-database-applications-with-JDBC.html#submit-queries-and-read-results">Submit queries and read results from the database including creating statements, returning result sets, iterating through the results, and properly closing result sets, statements, and connections</a></li>
		</ul>
		<h4><a href="{{ site.url }}/ocpj8-notes/12-localization.html">Localization</h4>
		<ul>
			<li><a href="{{ site.url }}/ocpj8-notes/12-localization.html#describe-the-advantages-of-localizing">Describe the advantages of localizing an application</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/12-localization.html#read-and-set-the-locale">Read and set the locale by using the Locale object</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/12-localization.html#create-and-read-a-properties-file">Create and read a Properties file</a></li>
			<li><a href="{{ site.url }}/ocpj8-notes/12-localization.html#build-a-resource-bundle">Build a resource bundle for each locale and load a resource bundle in an application</a></li>
		</ul>

    </div>
	
    <script>
      /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA', '1');
      ga('send', 'pageview');*/
    </script>

    <script>
		$(function() {
			$('a[data-fluidbox]').fluidbox();
		});
		(function($) {
			$(document).ready(function() {
			  $.slidebars();
			});
		}) (jQuery);
		$('a[href="#"]').click(function(e) { 
			e.preventDefault ? e.preventDefault() : e.returnValue = false; 
		});
    </script>
  </body>
</html>
